<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{site/homelayout.html}">
<head>
</head>

<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" th:href="@{/admin}">Home</a>
                        <span class="breadcrumb-item active">Total Order</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Checkout Start -->
        <div class="container-fluid">

            <div class="row px-xl-5">
                <div class="col">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Status</span></h5>
                    <h4  th:if="${list.isEmpty()}" class="text-center">Bạn chưa mua sắm gì <span><i class="fas fa-sad-tear"></i></span></h4>
                    <div class="bg-light p-30 mb-3"  th:if="${!list.isEmpty()}">
                        <table class=" table-responsive table">
                            <thead class="table-success">
                            <tr>
                                <td>Id</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Address</td>
                                <td>Method</td>
                                <td>Time</td>
                                <td>Price</td>
                                <td>Status</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody th:each="item:${list}">
                            <form method="post" th:action="@{'/site/customer/updateOrder/'+${item.orderId}}">
                                <tr class="table-info">
                                    <td th:text="${item.orderId}"></td>
                                    <td>
                                        <input type="text" class="rounded border-0" name="cusName" th:value="${item.cusName}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="rounded" name="phone" th:value="${item.phone}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="rounded" name="address" th:value="${item.address}" required>
                                    </td>
                                    <td th:text="${item.paymentMethod}"></td>
                                    <td th:text="${#dates.format(item.createTime,'dd/MM/yyyy')}"></td>
                                    <td th:text="${#numbers.formatDecimal(item.totalPrice,1,1)}+'$'"></td>
                                    <td th:text="${item.status}"></td>
                                    <td th:if="${#strings.equals(item.status,'Ordering')}">
                                        <button type="submit" class="rounded btn btn-sm btn-outline-warning"  data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td th:if="${#strings.equals(item.status,'Ordering')}">
                                        <a class="rounded btn btn-sm btn-outline-danger"
                                           data-toggle="tooltip" title="Cancel"
                                           onclick="confirm('Are you sure ??')"
                                            th:href="@{'/site/customer/cancelOrder/'+${item.orderId}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <th:block th:each="p:${item.orderDetailDTOList}">
                                    <tr class="text-center">
                                        <td></td>
                                        <td th:text="${p.productDetailDTO.productName}"></td>
                                        <td th:text="${p.productDetailDTO.typeName}"></td>
                                        <td th:text="${p.productDetailDTO.colorName}"></td>
                                        <td th:text="'Quantity : '+${p.quantity}"></td>
                                        <td></td>
                                        <td th:text="${#numbers.formatDecimal(p.price,1,1)}+'$'"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </th:block>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- Checkout End -->
    </div>

</body>
</html>