<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/adminlayout.html}">
<head>
    <script>
        function hideTable(index){
            $(".form"+index).toggle();
            $("#btnHide"+index).toggle();
            $("#btnShow"+index).toggle();
        }
        function hideALl(){
            $("#hideAll").toggle();
            $("#showAll").toggle();
            $("tr[class^='form']").hide();
            $("button[id^='btnHide']").hide();
            $("button[id^='btnShow']").show();
        }
        function showALl(){
            $("#hideAll").toggle();
            $("#showAll").toggle();
            $("tr[class^='form']").show();
            $("button[id^='btnShow']").hide();
            $("button[id^='btnHide']").show();
        }
    </script>
</head>

<body>
    <div layout:fragment="adminContent">
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" th:href="@{/admin}">Home</a>
                        <span class="breadcrumb-item active">Total Order</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Checkout Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <form th:action="@{/admin/order}" method="get">
                                <div class="bg-light p-30 mb-3 form-inline">
                                    <div class="col d-flex justify-content-center">
                                        <input type="text" class="form-control border-success rounded"
                                               onchange="this.form.submit()"
                                               name="phone" th:value="${phone}" placeholder="Enter phone number">
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <input type="date" class="form-control border-success rounded"
                                               onchange="this.form.submit()" th:value="${#dates.format(date,'yyyy-MM-dd')}"
                                               name="date">
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <select class="form-control border-success rounded" name="status" onchange="this.form.submit()">
                                            <option class="text-center" th:value="null"  th:selected="${#strings.equals(status,mstatus)}">--Status--</option>
                                            <option th:each="status : ${T(com.example.springWebMvc.persistent.OrderStatus).values()}"
                                                    th:value="${status}" th:text="${status}" th:selected="${#strings.equals(status,mstatus)}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col d-flex justify-content-center">
                                        <a th:href="@{/admin/order}" class="btn btn-outline-success rounded">Clear</a>
                                    </div>
                                </div>
                            </form>
                            <h4 class="text-danger text-center" th:if="${error != null}">Invalid data !!!</h4>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <h5 th:if="${list.isEmpty()}" class="text-danger p-30">No data founded !!!</h5>
                        <div class="col" th:unless="${list.isEmpty()}">
                            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Status</span></h5>
                            <div class="bg-light p-30 mb-3">
                                <table class=" table-responsive table text-center">
                                    <thead class="table-dark">
                                    <tr>
                                        <td>
                                            <button id="showAll" class="btn btn-outline-success border-0 rounded"
                                                    onclick="showALl()">
                                                <i class="far fa-info-circle"></i>
                                            </button>
                                            <button id="hideAll" style="display: none" class="btn btn-outline-danger border-0 rounded"
                                                    onclick="hideALl()">
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                        </td>
                                        <td  data-toggle="tooltip" title="Export All">
                                            <a class="text-success" th:href="@{/admin/exportExcelAll}">
                                                <i class="fas fa-file-excel"></i>
                                            </a>
                                        </td>
                                        <td>Order code</td>
                                        <td>Name</td>
                                        <td>Phone</td>
                                        <td>Address</td>
                                        <td>Method</td>
                                        <td>Time</td>
                                        <td>Price</td>
                                        <td>Status</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody th:each="item,index:${list}">
                                    <form method="get" th:action="@{'/admin/updateOrder/'+${item.orderId}}">
                                        <tr class="table-info">
                                            <td>
                                                <button th:id="'btnShow'+${index.index}" type="button" class="btn btn-outline-success border-0 rounded"
                                                        th:value="${index.index}" onclick="hideTable(this.value)">
                                                    <i class="far fa-info-circle"></i>
                                                </button>
                                                <button th:id="'btnHide'+${index.index}" type="button" style="display: none" class="btn btn-outline-danger border-0 rounded"
                                                        th:value="${index.index}" onclick="hideTable(this.value)">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                            </td>
                                            <td  data-toggle="tooltip" title="Export this order">
                                                <a class="text-success" th:href="@{'/admin/exportExcel/'+${item.orderCode}}">
                                                    <i class="fas fa-file-excel"></i>
                                                </a>
                                            </td>
                                            <td  data-toggle="tooltip" title="To detail page">
                                                <a class="text-success"
                                                   th:text="${item.orderCode}"
                                                   th:href="@{'/site/findOrder?orderCode='+${item.orderCode}}">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" class="rounded border-0" name="cusName" th:value="${item.cusName}" required>
                                            </td>
                                            <td>
                                                <input type="text" class="rounded border-0" name="phone" th:value="${item.phone}" required>
                                            </td>
                                            <td>
                                                <input type="text" class="rounded border-0" name="address" th:value="${item.address}" required>
                                            </td>
                                            <td th:text="${item.paymentMethod}"></td>
                                            <td th:text="${#dates.format(item.createTime,'dd/MM/yyyy_HH:mm')}"></td>
                                            <td th:text="${#numbers.formatDecimal(item.totalPrice,1,1)}+'$'"></td>
                                            <td th:unless="${#strings.equals(item.status,'Complete')}">
                                                <select name="status" class="border-0 rounded" onchange="this.form.submit()">
                                                    <option th:each="status : ${T(com.example.springWebMvc.persistent.OrderStatus).values()}"
                                                            th:value="${status}" th:text="${status}" th:selected="${#strings.equals(status,item.status)}">
                                                    </option>
                                                </select>
                                            </td>
                                            <td class="text-success" th:if="${#strings.equals(item.status,'Complete')}">
                                                Complete
                                            </td>
                                            <td>
                                                <a class="btn btn-sm rounded btn-outline-success">
                                                    <i class="fas fa-warehouse"></i>
                                                </a>
                                            </td>
                                            <td th:if="${#strings.equals(item.status,'Complete')}"></td>
                                            <td th:if="${#strings.equals(item.status,'Complete')}"></td>

                                            <td th:unless="${#strings.equals(item.status,'Complete')}">
                                                <button type="submit" class="rounded btn btn-sm btn-outline-warning"  data-toggle="tooltip" title="Edit">
                                                    <i class="fas fa-edit"></i>
                                                </button>
                                            </td>
                                            <td  th:unless="${#strings.equals(item.status,'Complete')}">
                                                <a class="rounded btn btn-sm btn-outline-danger"
                                                   data-toggle="tooltip" title="Cancel"
                                                   onclick="confirm('Are you sure ??')"
                                                   th:href="@{'/admin/cancelOrder/'+${item.orderId}}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </form>
                                    <th:block th:each="p:${item.orderDetailDTOList}">
                                        <form th:action="@{'/admin/updateOrderDetail/'+${p.orderDetailId}}">
                                            <tr th:class="'form'+${index.index}" style="display: none">
                                                <td></td>
                                                <td></td>
                                                <td th:text="${p.productDetailDTO.productName}"></td>
                                                <td th:text="${p.productDetailDTO.typeName}"></td>
                                                <td th:text="${p.productDetailDTO.colorName}"></td>
                                                <td>
                                                    <input type="number" class="text-center" name="quantity" min="0" th:value="${p.quantity}">
                                                </td>
                                                <td></td>
                                                <td th:text="${#numbers.formatDecimal(p.price,1,1)}+'$'"></td>
                                                <td></td>
                                                <td th:class="${(p.productDetailDTO.quantity <= p.quantity)?'text-danger':'text-success'}"
                                                    th:text="${p.productDetailDTO.quantity}"
                                                    data-toggle="tooltip" title="Remain quantity">
                                                </td>
                                                <td  th:unless="${#strings.equals(item.status,'Complete')}">
                                                    <button type="submit" class="rounded btn btn-sm btn-outline-warning" data-toggle="tooltip" title="Edit">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                </td>
                                                <td  th:unless="${#strings.equals(item.status,'Complete')}">
                                                    <a class="rounded btn btn-sm btn-outline-danger"
                                                       data-toggle="tooltip" title="Cancel"
                                                       onclick="confirm('Are you sure ??')"
                                                       th:href="@{'admin/cancelOrderDetail/'+${p.orderDetailId}}">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </form>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- Checkout End -->
    </div>

</body>
</html>