<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminlayout.html}">
<head>
</head>
<body>
    <div layout:fragment="adminContent">
        <!-- content -->
        <div class="col col-11 text-center">
            <div class="card">
                <div class="card-header">
                    <h3>Quản lí danh mục</h3><br>
                    <div th:if="${message != null}" class="alert alert-success" role="alert">
                        <h4 class="alert-heading"></h4>
                        <i th:text="${message}"></i>
                        <p class="mb-0"></p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-outline-success text-success float-left ml-5" style="border-radius: 10px" th:href="@{/admin/categories/add}">Tạo mới danh mục</a>
                        </div>
                        <div class="col">
                            <div class="form-group pt-2 float-right mr-5">
                                <form th:action="@{/admin/categories/sort}">
                                    <select name="sort" class="btn-outline-warning btn" style="border-radius: 10px" onchange="this.form.submit()">
                                        <option th:selected="${sort.equals('catId,asc')}" value="catId,asc">Sort by Category ID, ASC</option>
                                        <option th:selected="${sort.equals('catI,desc')}" value="catId,desc">Sort by Category ID, DESC</option>
                                        <option th:selected="${sort.equals('catName,asc')}" value="catName,asc">Sort by Name, ASC</option>
                                        <option th:selected="${sort.equals('catName,desc')}" value="catName,desc">Sort by Name, DESC</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover table-inverse">
                        <thead class="thead-inverse thead-dark">
                        <tr>
                            <th>Category ID</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c : ${pages}" >
                            <td th:text="${c.catId}"></td>
                            <td th:text="${c.catName}"></td>
                            <td th:text="${c.status==true?'Đang kinh doanh':'Ngừng kinh doanh'}"></td>
                            <td>
                                <a class="btn btn-outline-info" data-toggle="tooltip" title="Details" th:href="@{/admin/categories/view}"><i class="fas fa-info-circle"></i></a>
                                <a class="btn btn-outline-warning" data-toggle="tooltip" title="Edit" th:href="@{'/admin/categories/edit/'+${c.catId}}"><i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted form-inline justify-content-center">
                    <div class="form-inline">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li th:class="${pages.number == 0?'page-item active':'page-item'}">
                                    <a class="page-link" th:href="@{/admin/categories(page=${0},size=${pages.size},sort=${sort})}">
                                        <span aria-hidden="true">First</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a th:class="${(pages.number <= 0)?'page-link btn disabled':'page-link'}"
                                       th:href="@{/admin/categories(page=${(pages.number)-1},size=${pages.size},sort=${sort})}"
                                       th:text="${pages.number}">
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link"
                                       th:href="@{/admin/categories(page=${(pages.number)},size=${pages.size},sort=${sort})}"
                                       th:text="${(pages.number)+1}"></a>
                                </li>
                                <li class="page-item">
                                    <a th:class="${(pages.number >= (pages.totalPages)-1)?'page-link btn disabled':'page-link'}"
                                       th:href="@{/admin/categories(page=${(pages.number)+1},size=${pages.size},sort=${sort})}"
                                       th:text="${(pages.number)+2}">

                                    </a>
                                </li>
                                <li  th:class="${pages.number == (pages.totalPages)-1?'page-item active':'page-item'}">
                                    <a class="page-link" th:href="@{/admin/categories(page=${(pages.totalPages)-1},size=${pages.size},sort=${sort})}">
                                        <span aria-hidden="true">Last</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>