<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{site/homelayout.html}">
<head>
    <script>
        function chooseFile(fileInput){
            if (fileInput.files && fileInput.files[0]){
                const reader = new FileReader();
                reader.onload = function (e){
                    $('#avatar').attr('src',e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" th:href="@{/site}">Home</a>
                        <span class="breadcrumb-item active">Customer Information</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Checkout Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Customer Information</span></h5>
                    <div class="bg-light p-30 mb-3">
                        <form th:action="@{site/customer/update}" method="post" th:object="${customer}" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Account</label>
                                    <input class="form-control rounded border-success" th:value="${username}" type="text" readonly>
                                    <input type="number" hidden th:field="*{cusId}" th:value="${customer.cusId}">
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row d-flex justify-content-center">
                                        <img th:src="@{'/img/avatar/'+${customer.avatarUrl}}" class="border border-success"
                                             style="border-radius: 50%" width="100px" height="100px"
                                             id="avatar">
                                        <label for="avatarImg" ><i class="fas fa-pen-nib text-success"></i></label>
                                    </div>
                                    <input type="text" hidden th:field="*{avatarUrl}" th:value="${customer.avatarUrl}">
                                    <input type="file" hidden name="avatarImg" id="avatarImg"
                                           accept=".png, .jpg, .jpeg"
                                           onchange="chooseFile(this)">
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Full Name</label>
                                    <input class="form-control rounded border-success" type="text"
                                           th:field="*{cusName}" th:value="${customer.cusName}">
                                    <small th:if="${#fields.hasErrors('cusName')}" class="text-danger">Please enter you full name</small>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Phone</label>
                                    <input class="form-control rounded border-success" type="text"
                                           th:field="*{phone}" th:value="${customer.phone}">
                                    <small th:if="${#fields.hasErrors('phone')}" class="text-danger">Please enter you phone number</small>
                                    <small th:text="${pMessage}" class="text-danger"></small>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Birthday</label>
                                    <input class="form-control rounded border-success" type="date"
                                           th:field="*{birthday}" th:value="${#dates.format(customer.birthday,'dd-MM-yyyy')}">
                                    <small th:if="${#fields.hasErrors('birthday')}" class="text-danger">Please enter your birthday</small>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Shipping Address</label>
                                    <input class="form-control rounded border-success" type="text"
                                           th:field="*{address}" th:value="${customer.address}">
                                    <small th:if="${#fields.hasErrors('address')}" class="text-danger">Please enter your address</small>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Email</label>
                                    <input class="form-control rounded border-success" type="email" readonly
                                           th:value="${email}">
                                </div>
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-md-6 form-group d-flex justify-content-center">
                                            <button type="submit" class="btn btn-sm w-75 mt-3 rounded btn-success">Update Information</button>
                                        </div>
                                        <div class="col-md-6 form-group d-flex justify-content-center">
                                            <a th:href="@{'/site/customer/update-password?username='+${username}}" class="btn btn-sm w-75 mt-3 rounded btn-danger">Change Password</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                    <div class="bg-light p-30 mb-3">
                        <div class="border-bottom">
                            <h6 class="mb-3">Products</h6>
                            <div class="d-flex justify-content-between" th:each="item:${cartItems}">
                                <p th:text="${item.productDetailName}"></p>
                                <p th:text="${item.quantity}+' sản phẩm'"></p>
                                <p th:text="${#numbers.formatDecimal(item.price*item.quantity,1,1)}+'$'"></p>
                            </div>
                        </div>
                        <div class="border-bottom pt-3 pb-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h6>Subtotal</h6>
                                <h6 th:text="${#numbers.formatDecimal(amount,1,1)}+'$'"></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Tax</h6>
                                <h6 class="font-weight-medium">10%</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping <span class="text-success">(free if subtotal above 50$)</span></h6>
                                <h6 class="font-weight-medium" th:if="${amount<50}">10$</h6>
                                <h6 class="font-weight-medium" th:if="${amount>=50}">0$</h6>
                            </div>
                        </div>
                        <div class="pt-2">
                            <div class="d-flex justify-content-between mt-2">
                                <h5>Total</h5>
                                <h5 class="font-weight-medium" th:if="${amount>=50}" th:text="${#numbers.formatDecimal(amount*1.1,1,1)}+'$'"></h5>
                                <h5 class="font-weight-medium" th:if="${amount<50}" th:text="${#numbers.formatDecimal((amount*1.1+10),1,1)}+'$'"></h5>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" th:if="${amount>0}">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                        <div class="bg-light p-30">
                            <a th:href="@{site/checkout}" class="btn btn-block btn-primary font-weight-bold py-3">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Status</span></h5>
                    <h4  th:if="${list.isEmpty()}" class="text-center">You haven't bought anythings <span><i class="fas fa-sad-tear"></i></span></h4>
                    <div class="bg-light p-30 mb-3"  th:if="${!list.isEmpty()}">
                        <table class=" table-responsive table">
                            <thead class="table-success text-center">
                            <tr>
                                <td>Order Code</td>
                                <td>Name</td>
                                <td>Phone</td>
                                <td>Address</td>
                                <td>Method</td>
                                <td>Time</td>
                                <td>Total Price</td>
                                <td>Status</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody th:each="item:${list}">
                            <form method="post" th:action="@{'/site/customer/updateOrder/'+${item.orderId}}">
                                <tr class="table-info">
                                    <td class="text-truncate" th:text="${item.orderCode}"></td>
                                    <td>
                                        <input type="text" class="rounded text-center border-0" name="cusName" th:value="${item.cusName}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="rounded text-center border-0" name="phone" th:value="${item.phone}" required>
                                    </td>
                                    <td>
                                        <input type="text" class="rounded text-center border-0" name="address" th:value="${item.address}" required>
                                    </td>
                                    <td th:text="${item.paymentMethod}"></td>
                                    <td th:text="${#dates.format(item.createTime,'dd/MM/yyyy_HH:mm')}"></td>
                                    <td th:text="${#numbers.formatDecimal(item.totalPrice,1,1)}+'$'"></td>
                                    <td th:text="${item.status}"></td>
                                    <td th:if="${#strings.equals(item.status,'Ordering')}">
                                        <button type="submit" class="rounded btn btn-sm btn-outline-warning"  data-toggle="tooltip" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td th:if="${#strings.equals(item.status,'Ordering')}">
                                        <a class="rounded btn btn-sm btn-outline-danger"
                                           data-toggle="tooltip" title="Cancel"
                                           onclick="confirm('Are you sure ??')"
                                            th:href="@{'/site/customer/cancelOrder/'+${item.orderId}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <th:block th:each="p:${item.orderDetailDTOList}">
                                    <tr class="text-center">
                                        <td></td>
                                        <td th:text="${p.productDetailDTO.productName}"></td>
                                        <td th:unless="${#strings.equals(p.productDetailDTO.typeName,'----')}" th:text="${p.productDetailDTO.typeName}"></td>
                                        <td th:if="${#strings.equals(p.productDetailDTO.typeName,'----')}"></td>
                                        <td th:text="${p.productDetailDTO.colorName}"></td>
                                        <td th:text="'Quantity '+${p.quantity}"></td>
                                        <td></td>
                                        <td th:text="${#numbers.formatDecimal(p.price,1,1)}+'$'"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </th:block>
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- Checkout End -->
    </div>

</body>
</html>