<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/homelayout.html}">
<head>
</head>

<body>
<div layout:fragment="content">
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/site}">Home</a>
                    <span class="breadcrumb-item active">Customer Service</span>
                </nav>
            </div>
        </div>
        <div class="row px-xl-5 d-flex justify-content-center">
            <div class="col-lg-4 col-6 text-left pb-3">
                <form th:action="@{/site/verifyMail}" method="post">
                    <div class="input-group">
                        <input type="email" name="email" class="form-control border-success rounded" required placeholder="Your Registry Email">
                        <button type="submit" class="btn btn-outline-success ml-3" style="border-radius: 50%">
                            <i class="fas fa-tools"></i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <div class="row justify-content-center" th:if="${#strings.equals(message,'verify')}">
            <div class="text-center">
                <h5 class="text-success">Verification link has been sent to your email, check to active !!!</h5>
                <a th:href="@{/site}">Click here to go back.</a>
            </div>
        </div>
        <div class="row justify-content-center" th:if="${#strings.equals(message,'false')}">
            <div class="text-center">
                <h5 class="text-danger">Email hasn't existed !!!</h5>
                <a th:href="@{/login}">Click here to return login page.</a>
            </div>
        </div>
        <div class="row justify-content-center" th:if="${#strings.equals(message,'verifySuccess')}">
            <div class="text-center">
                <h5 class="text-success">Verify successfully. New password has been sent to your email !!!</h5>
                <a th:href="@{/login}">Click here to return login page.</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>