<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/homelayout.html}">
<head>
    <script>
        function checkSimilar (){
            if ($('#newPassword').val() == $('#confirmPassword').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" th:href="@{/site}">Home</a>
                    <span class="breadcrumb-item active">Customer Service</span>
                </nav>
            </div>
        </div>
        <div class="row px-xl-5 d-flex justify-content-center">
            <div class="col-lg-6 col-10 text-left">
                <div class="row justify-content-center" th:if="${#strings.equals(message,'error')}">
                    <div class="text-center">
                        <h5 class="text-danger">Invalid information !!!</h5>
                    </div>
                </div>
                <div class="row justify-content-center" th:if="${#strings.equals(message,'success')}">
                    <div class="text-center">
                        <h5 class="text-success">Update password successfully !!!</h5>
                    </div>
                </div>
                <div class="row justify-content-center" th:if="${#strings.equals(message,'invalidOldPassword')}">
                    <div class="text-center">
                        <h5 class="text-danger">Password is incorrect !!!</h5>
                    </div>
                </div>
                <form th:action="@{/site/customer/update-password}" method="post">
                    <input type="hidden" name="username" th:value="${username}">
                    <div class="pl-5 pr-5 pb-2 pt-5 bg-light">
                        <label for="oldPassword" class="form-label">Old Password</label>
                        <input type="password" class="form-control border-success rounded" required
                               id="oldPassword" name="oldPassword">
                    </div>
                    <div class="pl-5 pr-5 pb-2 bg-light">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control border-success rounded" required minlength="6" maxlength="20"
                               id="newPassword" name="newPassword" onkeyup="checkSimilar()">
                    </div>
                    <div class="pl-5 pr-5 pb-2 pb-5 bg-light">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control border-success rounded" required minlength="6" maxlength="20"
                               id="confirmPassword" name="confirmPassword" onkeyup="checkSimilar()">
                        <small id="message"></small>
                    </div>
                    <div class="pl-5 pr-5 pb-2 pb-5 bg-light justify-content-center d-flex">
                        <button type="submit" class="form-control btn w-50 btn-success rounded">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>