<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

</head>
<body>
    <div class="row" th:fragment="navbar">
    <!-- nav bar-->
        <div class="col">
            <!-- Topbar Start -->
            <div class="container-fluid">
                <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                    <div class="col-lg-4">
                        <a th:href="@{/site}"  class="text-decoration-none">
                            <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                            <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                        </a>
                    </div>
                    <div class="col-lg-4 col-6 text-left">
                        <form th:action="@{/site/products}">
                            <div class="input-group">
                                <input type="text" name="search" th:value="${search}" onchange="this.form.submit()" class="form-control" placeholder="Search for products">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary">
                                        <i class="fa fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4 col-6 text-right">
                        <p class="m-0">Customer Service</p>
                        <h5 class="m-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0382.575.181</h5>
                    </div>
                </div>
            </div>
            <!-- Topbar End -->
            <!-- Navbar Start -->
            <div class="container-fluid bg-dark mb-30">
                <div class="row px-xl-5">
                    <!-- Menu -->
                    <div class="col-lg-3 d-none d-lg-block">
                        <a class="btn d-flex align-items-center justify-content-between bg-dark w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                            <h6 class="text-primary m-0"><i class="fa fa-bars mr-2"></i>Category</h6>
                            <i class="fa fa-angle-down text-warning"></i>
                        </a>
                        <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                            <div class="navbar-nav w-100">
                                <div class="nav-item dropdown dropright">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Phone<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a class="dropdown-item"
                                           th:each="p:${producers}"
                                           th:href="@{'/site/products?catId=1&producerId='+${p.producerId}}"
                                           th:text="${p.producerName}">
                                        </a>
                                        <a th:href="@{/site/products?catalogId=1}" class="dropdown-item">Normal Phone</a>
                                        <a th:href="@{/site/products?catalogId=2}" class="dropdown-item">Smart Phone</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown dropright">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Laptop<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a class="dropdown-item"
                                           th:each="p:${producers}"
                                           th:href="@{'/site/products?catId=2&producerId='+${p.producerId}}"
                                           th:text="${p.producerName}">
                                        </a>
                                        <a th:href="@{/site/products?catalogId=3}" class="dropdown-item">Laptop Gaming</a>
                                        <a th:href="@{/site/products?catalogId=4}" class="dropdown-item">Laptop Office</a>
                                        <a th:href="@{/site/products?catalogId=5}" class="dropdown-item">Macbook</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown dropright">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Tablet<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a class="dropdown-item"
                                           th:each="p:${producers}"
                                           th:href="@{'/site/products?catId=3&producerId='+${p.producerId}}"
                                           th:text="${p.producerName}">
                                        </a>
                                        <a th:href="@{/site/products?catalogId=6}" class="dropdown-item">Apple Ipad</a>
                                        <a th:href="@{/site/products?catalogId=7}" class="dropdown-item">Samsung tablet</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown dropright">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Ears pod<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a th:href="@{/site/products?catalogId=14}" class="dropdown-item">Bluetooth</a>
                                        <a th:href="@{/site/products?catalogId=15}" class="dropdown-item">In-ears</a>
                                        <a th:href="@{/site/products?catalogId=16}" class="dropdown-item">Gaming ears pod</a>
                                        <a th:href="@{/site/products?catalogId=17}" class="dropdown-item">Apple airpod</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown dropright">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Watch<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a th:href="@{/site/products?catalogId=8}" class="dropdown-item">Smart watch</a>
                                        <a th:href="@{/site/products?catalogId=9}" class="dropdown-item">Mechanical watch</a>
                                        <a th:href="@{/site/products?catalogId=10}" class="dropdown-item">Locating children device</a>
                                    </div>
                                </div>
                                <div class="nav-item dropdown dropright">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Accessory<i class="fa fa-angle-right float-right mt-1"></i></a>
                                    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                        <a th:href="@{/site/products?catalogId=11}" class="dropdown-item">Apple accessory</a>
                                        <a th:href="@{/site/products?catalogId=12}" class="dropdown-item">Phone accessory</a>
                                        <a th:href="@{/site/products?catalogId=13}" class="dropdown-item">Laptop accessory</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- navi link -->
                    <div class="col-lg-9">
                        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                            <a th:href="@{/site}" class="text-decoration-none d-block d-lg-none">
                                <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                                <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                            </a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <a th:href="@{/site/products}" th:class="${#strings.equals(link,'product')?'nav-item nav-link active':'nav-item nav-link'}">Shop</a>
                                    <a th:href="@{/site/contact}" th:class="${#strings.equals(link,'contact')?'nav-item nav-link active':'nav-item nav-link'}">Contact</a>
                                    <a th:href="@{/site/findOrder}" th:class="${#strings.equals(link,'order')?'nav-item nav-link active':'nav-item nav-link'}">Order Status</a>
                                </div>
                                <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                                    <a th:href="@{/site/customer/wish-list}" class="btn px-0 mr-3" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <i class="fas fa-heart text-primary"></i>
                                        <span id="wish-list" th:text="${wishList}" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                    </a>
                                    <a th:href="@{/site/cart}" class="btn px-0 mr-3" th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                        <i class="fas fa-shopping-cart text-primary"></i>
                                        <span id="cart-quantity" th:text="${cartQuantity}" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"></span>
                                    </a>
                                    <a th:href="@{/login}" class="btn px-0 mr-3" sec:authorize="isAnonymous()">
                                        <i class="fas fa-user text-primary"></i>
                                    </a>
                                    <a th:href="@{/admin}" class="btn px-0 mr-3" sec:authorize="hasRole('ROLE_ADMIN')">
                                        <i class="fas fa-store-alt text-primary"></i>
                                    </a>
                                    <a th:href="@{/site/customer}" class="btn px-0 mr-3" sec:authorize="hasRole('ROLE_CUSTOMER')">
                                        <img height="40px" width="40px" style="border-radius: 50%"
                                             th:unless="${#strings.equals(#authentication.getPrincipal().getImg(),'')}"
                                             th:src="@{'/img/avatar/'+${#authentication.getPrincipal().getImg()}}">
                                        <i class="fas fa-user-cog text-primary" th:if="${#strings.equals(#authentication.getPrincipal().getImg(),'')}"></i>
                                    </a>
                                    <a th:href="@{/logout}" class="btn px-0" sec:authorize="isAuthenticated()">
                                        <i class="fas fa-sign-out-alt text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Navbar End -->
        </div>
    </div>
</body>
</html>