<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/homelayout.html}">
<head>
</head>
<body>
    <div layout:fragment="content">
        <!-- Carousel Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#header-carousel" data-slide-to="1"></li>
                            <li data-target="#header-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item position-relative active" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" th:src="@{/img/carousel-1.jpg}" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Men Fashion</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" th:src="@{/img/carousel-2.jpg}" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Women Fashion</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item position-relative" style="height: 430px;">
                                <img class="position-absolute w-100 h-100" th:src="@{/img/carousel-3.jpg}" style="object-fit: cover;">
                                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Kids Fashion</h1>
                                        <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                        <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid" th:src="@{/img/offer-1.jpg}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                    <div class="product-offer mb-30" style="height: 200px;">
                        <img class="img-fluid" th:src="@{/img/offer-2.jpg}" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save 20%</h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- Vendor Start -->
        <div class="container-fluid py-5">
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel vendor-carousel text-center h1">
                        <div class="rounded bg-primary" th:each="p:${producers}">
                            <a th:href="@{'/site/products?producerId='+${p.producerId}}"
                               th:text="${p.producerName}" class="text-decoration-none" style="color: #3D464D !important"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor End -->

        <!-- Categories Start -->
        <div class="container-fluid pt-1">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Danh Mục</span></h2>
            <div class="row px-xl-5 pb-3">
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=1}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-1.png}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Điện thoại</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=2}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-2.jpg}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Laptop</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=3}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-3.jpg}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Máy tính bảng</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=4}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-4.jpg}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Đồng hồ</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=6}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-5.jpg}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Tai nghe</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" th:href="@{/site/products?catId=6}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                <img class="img-fluid p-2" th:src="@{/img/cat-6.jpg}" alt="">
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>Phụ kiện</h6>
                                <small class="text-body">100 Products</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Categories End -->

        <!-- Products Start -->

        <!-- Cellphone-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Điện thoại</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=1&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${phones}" th:if="${pstate.index<5}" class="product-item bg-light">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center text-truncate py-4 pr-3 pl-3">
                                    <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mb-1">
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small class="fa fa-star text-primary mr-1"></small>
                                        <small>(99)</small>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${phones}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cellphone-->

        <!-- Laptop-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Laptop</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=2&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${laptops}" th:if="${pstate.index<5}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${laptops}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Laptop-->

        <!-- Tablet-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Máy tính bảng</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=3&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${tablets}" th:if="${pstate.index<5}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${tablets}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tablet-->

        <!-- Watch-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Đồng hồ</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=4&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${watches}" th:if="${pstate.index<5}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none"th:href="@{'/site/detail/'+${p.proId}}"  th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${watches}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Watch-->

        <!-- Ears-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Tai nghe</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=6&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${ears}" th:if="${pstate.index<5}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${ears}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Ears-->

        <!-- Accessory-->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-2"><span class="bg-secondary pr-3">Phụ kiện</span></h2>
            <div class="row">
                <div class="col offset-5 mb-4">
                    <a class="btn btn-primary mr-1 rounded"
                       th:each="pr : ${producers}"
                       th:href="@{'/site/products?catId=5&producerId='+${pr.producerId}}"
                       th:text="${pr.producerName}">
                    </a>
                </div>
            </div>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${accessories}" th:if="${pstate.index<5}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-xl-5 mt-4">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <div th:each="p,pstate :${accessories}" th:if="${pstate.index>4}" class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 p-1" th:src="@{'/img/'+${p.imgUrl}}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" th:href="@{'/site/detail/'+${p.proId}}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center text-truncate py-4 pr-3 pl-3">
                                <a class="h6 text-decoration-none" th:href="@{'/site/detail/'+${p.proId}}" href="" th:text="${p.proName}"></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5 th:text="${p.basePrice - p.basePrice * p.discount/100}+'$'"></h5><h6 class="text-muted ml-2"><del th:text="${p.basePrice}+'$'"></del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Accessory-->

        <!-- Products Ends -->
    </div>
</body>
</html>