<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/adminlayout.html}">
<head>
    <script>
        function getProduct(){
            $("#productId").empty();
            const catId = $("#catId").val();
            const urlString = "[[@{/api/v1/products/?catId=}]]" + catId;
            $.get(urlString,function (responseJson)
            {
                const productOpt = $("#productId");
                $("<option>").val("").text("--Product--").appendTo(productOpt);
                $.each(responseJson,function (index,product){
                    $("<option>").val(product.proId).text(product.proName).appendTo(productOpt);
                })
            })
                .fail(function (){
                    alert("Error to collect");
                })
                .always(function (){
                    // something here
                })
            ;
        }
        function hideTable(index){
            $(".form"+index).toggle();
            $("#btnHide"+index).toggle();
            $("#btnShow"+index).toggle();
        }
        function hideALl(){
            $("#hideAll").toggle();
            $("#showAll").toggle();
            $("tr[class^='form']").hide();
            $("button[id^='btnHide']").hide();
            $("button[id^='btnShow']").show();
        }
        function showALl(){
            $("#hideAll").toggle();
            $("#showAll").toggle();
            $("tr[class^='form']").show();
            $("button[id^='btnShow']").hide();
            $("button[id^='btnHide']").show();
        }
    </script>
</head>
<body>
    <div layout:fragment="adminContent">
        <!-- content -->
        <div class="col text-center mt-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center mb-2">Quản lí số lượng</h2>
                    <div th:if="${message != null}" class="alert alert-success" role="alert">
                        <h4 class="alert-heading"></h4>
                        <i th:text="${message}"></i>
                        <p class="mb-0"></p>
                    </div>
                    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
                        <h4 class="alert-heading"></h4>
                        <i th:text="${errorMessage}"></i>
                        <p class="mb-0"></p>
                    </div>
                    <div class="row pt-4">
                        <div class="col">
                            <a th:href="@{/admin/repository/add}" style="border-radius: 10px" class="btn btn-outline-success text-success float-left ml-5">Add product quantity</a>
                            <a th:href="@{/admin/repository}" style="border-radius: 10px" class="btn btn-outline-success text-success float-left ml-5">All product</a>
                        </div>
                        <div class="col">
                            <form th:action="@{admin/repository}" method="get">
                                <div class="row">
                                    <div class="col form-group">
                                        <select class="rounded form-control" onchange="getProduct()" id="catId">
                                            <option>--Category--</option>
                                            <option th:each="item : ${categories}" th:value="${item.catId}" th:text="${item.catName}"></option>
                                        </select>
                                    </div>
                                    <div class="col form-group">
                                        <select class="form-control rounded" name="proId" id="productId" onchange="this.form.submit()">
                                            <option>--Product--</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="card-body col-9">
                        <table class="table table-sm">
                            <thead>
                                <tr class="table-success h5">
                                    <th>
                                        <button id="showAll"  style="display: none" class="btn btn-outline-success border-0 rounded"
                                                 onclick="showALl()">
                                            <i class="far fa-info-circle"></i>
                                        </button>
                                        <button id="hideAll" class="btn btn-outline-danger border-0 rounded"
                                                onclick="hideALl()">
                                            <i class="fas fa-eye-slash"></i>
                                        </button>
                                    </th>
                                    <th colspan="2">Name</th>
                                    <th colspan="2">Base Price</th>
                                </tr>
                            </thead>
                            <th:block th:each="p,index: ${list}" >
                                <tr class="table-info h5">
                                    <td>
                                        <button  th:id="'btnShow'+${index.index}"  style="display: none" class="btn btn-outline-success border-0 rounded"
                                                th:value="${index.index}" onclick="hideTable(this.value)">
                                            <i class="far fa-info-circle"></i>
                                        </button>
                                        <button  th:id="'btnHide'+${index.index}" class="btn btn-outline-danger border-0 rounded"
                                                th:value="${index.index}" onclick="hideTable(this.value)">
                                            <i class="fas fa-eye-slash"></i>
                                        </button>
                                    </td>
                                    <td colspan="2" th:text="${p.proName}"></td>
                                    <td colspan="2" th:text="${p.basePrice}+'$'"></td>
                                </tr>
                                <tr th:class="'form'+${index.index}">
                                    <td  class="text-success">Type</td>
                                    <td  class="text-success">Color</td>
                                    <td  class="text-success">Discount(%)</td>
                                    <td  class="text-success">Quantity</td>
                                    <td></td>
                                </tr>
                                <th:block th:each="d: ${p.productDetailDTOS}">
                                    <form th:action="@{'admin/repository/update/'+${d.productDetailId}}" method="post">
                                        <tr th:class="'form'+${index.index}">
                                            <td th:text="${d.typeName}"></td>
                                            <td th:text="${d.colorName}"></td>
                                            <td><input class="rounded text-center border-0" type="number" name="discount" th:value="${d.discount}"></td>
                                            <td><input class="rounded text-center border-0" type="number" name="quantity" th:value="${d.quantity}"></td>
                                            <td>
                                                <button class="btn btn-sm btn-outline-warning rounded" type="submit" data-toggle="tooltip" title="Update" ><i class="fas fa-edit"></i></button>
                                            </td>
                                        </tr>
                                    </form>
                                </th:block>
                                <form th:action="@{/admin/repository/save}" method="post" th:object="${pD}">
                                    <input type="hidden" name="mode" value="listMode">
                                    <input type="hidden" name="proId" th:value="${p.proId}">
                                    <tr th:class="'form'+${index.index}">
                                        <td>
                                            <select th:field="*{typeId}">
                                                <option th:each="t:${types}" th:value="${t.typeId}" th:text="${t.typeName}"></option>
                                            </select>
                                            <small th:if="${#fields.hasErrors('typeId')}" class="text-danger">TypeId can't be null</small>
                                        </td>
                                        <td>
                                            <select th:field="*{colorId}" >
                                                <option th:each="t:${colors}" th:value="${t.colorId}" th:text="${t.colorName}"></option>
                                            </select>
                                            <small th:if="${#fields.hasErrors('colorId')}" class="text-danger">ColorId can't be null</small>
                                        </td>
                                        <td>
                                            <input class="rounded text-center border-0" type="number"
                                                   th:field="*{discount}">
                                            <small th:if="${#fields.hasErrors('discount')}" class="text-danger">Discount is invalid</small>
                                        </td>
                                        <td>
                                            <input class="rounded text-center border-0" type="number"
                                                   th:field="*{quantity}"></td>
                                        <small th:if="${#fields.hasErrors('quantity')}" class="text-danger">Quantity is invalid</small>
                                        <td>
                                            <button class="btn btn-sm btn-outline-success rounded" type="submit" data-toggle="tooltip" title="Add new" ><i class="fas fa-plus-circle"></i></button>
                                        </td>
                                    </tr>
                                </form>
                            </th:block>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>